body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* Container
=============*/
.container {
    max-width: 1340px;
    margin: 0 auto;
}

/* Header
=============*/

.header {
    width: 100%;
    height: 785px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.nav__logo {
    margin-right: 250px;
    font-weight: 400;
    font-size: 36px;
}

span {
    color: #939393;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #263238;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu li {
    margin-right: 40px;
}

.btn {
    color: #263238;
    margin-left: auto;
    text-decoration: none;
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 57px;
    border-radius: 5px;
    border: 2px solid #263238;
    width: 220px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.offer {
    margin-top: 115px;
}

.offer__title {
    width: 386px;
    height: 240px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
}

.offer__text {
    margin-bottom: 61px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    width: 557px;
    height: 108px;
}


.offer__btn {
    font-weight: 400;
    color: #fff;
    border-radius: 15px;
    background-color: #263238;
    display: block;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    padding: 32px 115px;
    width: 438px;
    transition: all 0.5s ease;
}

.offer__btn:hover {
    padding: 32px 115px;
    width: 438px;
    text-align: center;
    border: 2px solid #263238;
    border-radius: 15px;
    background: #fff;
    color: #000;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.picture {
    width: 661px;
    height: 661px;
}

.idea {
    width: 85.24px;
    height: 85.24px;

    position: relative;

    right: 160px;

    margin-top: 235px;
    margin-bottom: auto;
}

/* Skills
=============*/

.skills__title {
    margin-bottom: 96px;
    margin-top: 170px;
    text-align: center;
}

.item1 {
    grid-area: item1;
    height: 909px;
    width: 435px;
    border-radius: 10px;
}

.item2 {
    grid-area: item2;
    width: 532px;
    height: 565px;
    border-radius: 10px;
}

.item3 {
    grid-area: item3;
    width: 532px;
    height: 565px;
    border-radius: 10px;
}

.item4 {
    grid-area: item4;
    height: 325px;
    width: 1085px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.grid-container {
    justify-content: center;
    display: grid;
    grid-template-areas:
        'item1 item2 item3'
        'item1 item4 item4';
    gap: 20px;
}

.grid-container>div {
    background-color: #F5F5F5;

}

.btn__speaking {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background-color: #263238;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 17px 50px;
    transition: all 0.5s ease;
    width: 230px;
    height: 60px;
}

.btn__speaking:hover {
    padding: 17px 50px;
    width: 230px;
    height: 60px;
    text-align: center;
    border: 2px solid #263238;
    border-radius: 10px;
    background: #fff;
    color: #000;
}

.speak__img {
    margin-top: 30px;
}

.item1 {
    text-align: center;
}

.speak {
    color: #263238;
}

.speak__text {
    color: #8F95A5;
    font-size: 18px;
    margin: 30px 10px 30px 10px;
}

.speak__text2 {
    color: #8F95A5;
    font-size: 18px;
    margin: 30px 10px 30px 10px;
}

.writing__img {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.writing__title {
    color: #263238;
    text-align: center;
}

.writing__txt {
    font-size: 16px;
    width: 345px;
    height: 72px;
    color: #8F95A5;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}


.btn__writing {
    margin: auto;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background-color: #263238;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 17px 50px;
    transition: all 0.5s ease;
    width: 230px;
    height: 60px;
}

.btn__writing:hover {
    padding: 17px 50px;
    width: 230px;
    height: 60px;
    text-align: center;
    border: 2px solid #263238;
    border-radius: 15px;
    background: #fff;
    color: #000;
}

.reading__img {
    margin-top: 15px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.reading__title {
    text-align: center;
    color: #263238;
}

.reading__txt {
    text-align: center;
    font-size: 16px;
    color: #8F95A5;
    width: 354px;
    height: 72px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.listening__img {
    margin-top: 30px;
    margin-left: auto;
    display: flex;
    height: 255px;
    width: 382px;
}

.listening__title {
    margin: 45px 0px 0px 50px;
    color: #263238;
}

.listening__txt {
    font-size: 16px;
    color: #8F95A5;
    width: 328px;
    height: 72px;
    margin: 24px 0px 39px 50px;
}

.btn__listening {
    margin: -25px 1px 1px 49px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background-color: #263238;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 17px 50px;
    transition: all 0.5s ease;
    width: 230px;
    height: 60px;
}

.btn__listening:hover {
    padding: 17px 50px;
    width: 230px;
    height: 60px;
    text-align: center;
    border: 2px solid #263238;
    border-radius: 10px;
    background: #fff;
    color: #000;
}
